__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

.env
.env.*
db.sqlite3
*.sqlite3

media/
media_tmp/
tmp_media/
staticfiles/
node_modules/
*.egg-info/
dist/
build/
